<!--@subject Estimate Response  @-->
<!--@vars {
"var name":"Customer Name",
"var message":"Reply Message",
"var address-main":"Customer Address",
"var request":"Customer Request",
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$name}}</p>
            <p>{{trans "Thank you for your estimate request."}}</p>
        </td>
    </tr>
    <tr class="response-info">
        <td>
            <p class="response">{{trans "%message" message=$message}}</p>
            <p class="response">{{trans "Your estimate information is included below for reference."}}</p>
        </td>
    </tr>
    <tr class="request-info">
        <td>
            <p class="info label">{{trans "Your Address Information:"}}</p>
            <p class="data">{{trans "%address" address=$address-main}}</p>
            <br/>
            <p class="info label">{{trans "Your Request:"}}</p>
            <p class="data">{{trans "%request" request=$request}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
