#menu-leviathanstudios-requestcontact-container > a:before {
    background-image: url('../images/levi.png');
    content: "";
    background-size: cover;
    height: 48px;
    width: 74px;
    position: relative;
    top: -7px;
}

