<?xml version="1.0"?>
<!--
/**
  * @copyright     Copyright © Leviathan Studios, Licensed under MIT
  * @author        Grey Crane <gmc31886@gmail.com>
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="leviathan" translate="label" sortOrder="10">
            <label>Leviathan</label>
        </tab>
        <section id="leviathan_request" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Leviathan Request Options</label>
            <tab>leviathan</tab>
            <resource>LeviathanStudios_RequestContact::estimate</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Enable module functionality</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_response" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Estimate Response Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sender Email</label>
                    <validate>validate-email</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Email\Address</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="email_name" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sender Name</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="allowed_states" translate="label" type="multiselect" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed States</label>
                    <source_model>LeviathanStudios\RequestContact\Model\Config\Source\States</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Form Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="age_check" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Age Check</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable age validation for user submission</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="min_age" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minimum Age</label>
                    <comment>The minimum age the user must be to submit the request form</comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="age_check">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
